<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou" rel="stylesheet">
<style>
	/*** <common> ***/

	:root {
		--primary-bg-color: #12303D;
		--secondary-bg-color: #2D728F;
		--primary-font-color: #FABC3C;
		--hover-font-color: #FF2149;
		--secondary-font-color: #11E0B7;
		--shadow-color: #000000;
	}

	@keyframes animation {
	  0% { transform: scale(0) }
	  100% { transform: scale(1) }
	}

	* {
		font-size:2rem;
		font-family: 'ZCOOL QingKe HuangYou', cursive;
		color: var(--primary-font-color);
	}

	body {
		background: var(--primary-bg-color);
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	#app {
		padding-top:100px;
		display: grid;
		grid-template-rows: repeat(5, 17%);
		height: 100%;
	}

	.row {
		display: grid;
		grid-template-columns: 20% 80%;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	/*** </common> ***/


	/*** <questions> ***/

	.questions {
		display: grid;
		grid-template-columns: repeat(5, 20%);
		grid-template-rows: 100%;
	}


	.question .opened-true .full-screen-question{
		display: flex;
	}
	.question .opened-false .full-screen-question{
		display: none;
	}
	.question .opened-true .price{
		display: none;
	}
	.question .opened-false .price{
		display: block;
	}
	.full-screen-question {
		width: 100%;
		height: 100%;
		position: absolute;
		background: var(--secondary-bg-color);
		top: 0;
		left: 0;
		text-align: center;
		justify-content:center;
		align-items:center;
	}
	.question {
		border: 1px solid var(--secondary-bg-color);
		display:flex;
		justify-content:center;
		align-items:center;
		box-shadow: 0px 0px 12px 0px var(--secondary-bg-color);
		text-shadow: 3px 3px var(--shadow-color);
		transition: all .2s ease-out;
	}
	.question .price {
		transition: all .2s ease-out;
		cursor: pointer;
	}
	.question:hover .price {
		text-shadow: 3px 3px 3px var(--secondary-font-color);
		color: var(--hover-font-color);
	}

	.question .opened-true .full-screen-question {
	  animation: animation 500ms ease-in both;
	}

	/*** </questions> ***/


	/*** <choises> ***/

	.opened-true .choises {
		position: absolute;
		display: block;
		left: 1rem;
    	top: 2rem;
		animation: animation 500ms ease-in both;
	}

	.choises, .choises * {
		transition: all .2s ease-out;
	}

	.opened-false .choises {
		display: none;
	}

	.choise div {
		line-height: 2rem;
	}

	.choise div:hover {
		cursor: pointer;
		color: var(--hover-font-color);
		text-shadow: 3px 3px 3px var(--secondary-font-color);
	}

	/*** </choises> ***/


	/*** <participants> ***/

	.participants {
		position: absolute;
		right: 10px;
		display: flex;
		flex-direction: row;
		z-index: 1;
	}

	.participants *{
		font-size: 1rem;
	}
	
	.participant {
		margin-left:10px;
		color: var(--secondary-font-color);
		transition: all .2s ease-out;
		text-shadow: 3px 3px var(--shadow-color);
	}
	.participant:hover, .participant:hover * {
		cursor: pointer;
		color: var(--hover-font-color);
		text-shadow: 3px 3px 3px var(--secondary-font-color);
	}
	.selected-participant {
		font-weight: bold;
		font-size: 2.5rem;
		padding-right:100px;
		color: var(--hover-font-color);
	}


	/*** </participants> ***/
</style>

<body>

<div id="app">
	<participants
		:selectedp="selectedp"
		:participants="participants">
  </participants>
	<div class="row" v-for="(item, index) in items">
		<div class="question">{{ item.n }}</div>
		<questions :questions="item.q"></questions>
	</div>

</div>

<script>
const participants = prompt().split(',').map(user => ({ name: user, score: 0 }))
alert(participants.length + ' added')
// const participants = [
// {name:'a', score: 3},
// {name: 'b', score:2 },
// {name: 'c', score:1 },
// ]

const appJson = [
	{
		n: 'PROG',
		q: [
			{title:'1', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'2', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'3', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'4', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'5', choises:["test", "test2", "test3", "test4"], correct:0}
		]
	},
	{
		n: 'SOLID',
		q: [
			{title:'1', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'2', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'3', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'4', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'5', choises:["test", "test2", "test3", "test4"], correct:0}
		]
	},
	{
		n: 'DESIGN',
		q: [
			{title:'1', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'2', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'3', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'4', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'5', choises:["test", "test2", "test3", "test4"], correct:0}
		]
	},
	{
		n: 'WILEY',
		q: [
			{title:'1', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'2', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'3', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'4', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'5', choises:["test", "test2", "test3", "test4"], correct:0}
		]
	},
	{
		n: 'OTHER',
		q: [
			{title:'1', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'2', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'3', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'4', choises:["test", "test2", "test3", "test4"], correct:0},
			{title:'5', choises:["test", "test2", "test3", "test4"], correct:0}
		]
	}
]

let serverBus

Vue.component('question', {
	template: `
	<div :class="('opened-'+opened)" @click="opened = !opened; clicked = true">
		<div class="full-screen-question">{{ q.title }}</div>
		<ul class="choises">
			<li class="choise" v-for="choise, index in q.choises">
				<div @click="choose(choise, index, q.title, q.correct === index)">{{ choise }}</div>
			</li>
		</ul>
		<div v-if="!clicked" class="price">{{ price }}</div>
	</div>`,
	props: {
		q: { type: Object, default: () => '' },
		price: { type: Number, default: () => 0	}
	},
	data: () => ({ opened: false, clicked: false }),
	methods: {
		choose: (choise, index, question, correct) => {
			serverBus.$emit('choose', choise, index, question, correct)
		}
	}
})

Vue.component('questions', {
	template: `
	<ul class="questions">
		<li class="question" v-for="q, index in questions">
			<question :q="q" :price="(index+1)*100" />
		</li>
	</ul>`,
	props: {
		questions: { type: Array, default: () => [] },
	},
})

Vue.component('participants', {
	computed: {
		sortedArray: function() {
			return this.participants.sort((a, b) => {
				if (a.score < b.score) return 1
				if (a.score > b.score) return -1
				                       return 0
			})
		}
	},
	template: `
	<div class="participants">
		<div class="selected-participant">{{ selectedp }}</div>
		<div v-for="(item, index) in sortedArray">
			<div class="participant" @click="select(item.name)"><span class="participant-name">{{ item.name }}</span> : <span class="participant-score">{{ item.score }}</span>&nbsp;&nbsp;&nbsp;</div>
		</div>
	</div>`,
	props: {
		selectedp: {type: String, default: () => '' },
		participants: {	type: Array, default: () => [] }
	},
	methods: {
		select: (participantName) =>
			serverBus.$emit('select-user', participantName)
	}
})

serverBus = new Vue({
  el: '#app',
	data: {
	  items: appJson,
	  participants: participants,
		selectedp: ''
	},
	created() {
			this.$on('choose', (choise, index, question, correct) => {
				if(this.selectedp){
					const newParticipants = this.participants.map(participant => {
						let score = participant.score
						if(participant.name === this.selectedp) {
							score = participant.score + (correct?1:-1)*(index+1)*100
						}
						return { name: participant.name, score: score }
					})

					this.participants = newParticipants;
					this.selectedp = ''
				}
			})
			this.$on('select-user', (participantName) => {
				this.selectedp = participantName
				console.log('participantName', participantName)
			})
		}
})

</script>
